.donut-number {
font-size: 37.12px;
font-weight: 700;
line-height: 57.508px; /* 154.926% */
letter-spacing: -1.485px;
}
  
.donut-percent {
font-size: 26.929px;
font-weight: 700;
line-height: 57.508px;
letter-spacing: -1.077px;
}