.logo_banner-container .banner-wrapper {
  width: 100%;
  margin: 0 auto;
}

.logo_banner-container .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo_banner-container .image-wrapper img {
  min-height: 20px;
  max-width: 200px;
}

@media (max-width: 1025px) {
  .logo_banner-container .banner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .logo_banner-container .image-wrapper img {
    max-width: 100%;
  }
}

