<!-- module html  -->
{% set href = module.pcs_button.link.url.href %}
{% if module.pcs_button.link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
{% endif %}
<div class="py-[100px] md:pb-[150px] md:pt-[100px] relative" style="background-color: {{ module.pcs_colors.bg.color }}">
  <div class="absolute w-full bottom-0 left-0 right-0">
    <img class="hidden md:block" src="https://5747173.fs1.hubspotusercontent-na1.net/hubfs/5747173/bg-section-texture.png" alt="Page CTA Background Texture">
    <img class="md:hidden" src="https://5747173.fs1.hubspotusercontent-na1.net/hubfs/5747173/page-cta-bg-mobile.png" alt="Page CTA Background Texture Mobile">
    
  </div>
  <div class="container px-6 lg:px-0 max-w-[1000px]">
    <div class="flex flex-wrap items-center">
      <div class="w-full lg:w-3/4 mb-12 lg:mb-0">
        <p class="text-[32px] md:text-[48px] text-center md:text-left" style="color: {{ module.pcs_colors.text.color }}">{{ module.pcs_text }}</p>
        {% if  module.pcs_paragraph %}
        <p style="color: {{ module.pcs_colors.text.color }}" class="text-center md:text-left text-[20px] md:text-[24px] mt-2">{{ module.pcs_paragraph }}</p>
        {% endif %}

      </div>
      <div class="w-full lg:w-1/4 text-center">
        <a href="{{ href }}"
        {% if module.pcs_button.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.pcs_button.link.rel %}rel="{{ module.pcs_button.link.rel }}"{% endif %}  class="btn btn-primary filled-white mx-auto">{{ module.pcs_button.btntext }}</a>
      </div>
      
    </div>
  </div>
</div>
