@tailwind base;
@layer base {
    body,html {
        @apply overflow-x-hidden;
    }
    body {
        @apply leading-tight;
    }
    ul {
        @apply list-disc pl-6;
    }

    h1 {
        @apply text-[32px] leading-[42px] md:text-[46px] md:leading-[56px] text-[#2F2F35] font-bold;
        letter-spacing: -1.84px;
      }
      
      h2 {
      @apply text-[32px] leading-[42px] text-[#2F2F35] font-medium;
      letter-spacing: -1.28px;
      }
}
@tailwind components;

@layer components {
}
@tailwind utilities;
@layer utilities {
    .v-shadow {
        box-shadow: 2px 5px 8px rgb(0 0 0 / 15%);
    }
}
